<nav class="navbar navbar-dark bg-dark black-nav">
  <a class="navbar-brand red-text" routerLink="/">
    <img src="assets/img/Saged_Header_logo_high_res.png" width="30" height="30" class="saged-logo" alt=""> SAGED BLOCKCHAIN
  </a>

  <div>
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light" *ngIf="thereArePendingTransactions()">
      Pending transactions
      <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-light red-button">
      Settings
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light red-button">
      Create transaction
    </button>
  </div>
</nav>

<br>



<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px;">
  <small>
  <a href="https://github.com/Saged-io/Saged-Blockchain" target="_blank">Source code</a> <br>
  <a href="https://github.com/Saged-io/Saged-Blockchain-FrontEnd" target="_blank">Source code (FRONT END)</a>

  </small>
</footer>

